.learning_popup {
    position: fixed;
    bottom: 20px;
    right: 20px;

    width: 350px;

    background: white;
    border-radius: 12px;

    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);

    z-index: 9999;

    overflow: hidden;
}

.popup_header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 12px;

    background: #714b67;
    color: white;
}

.popup_body {
    padding: 16px;
}

.learning_popup.minimized {
    height: 50px;
}